<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
</head>
<body>
    
    <p>In order to chat: type /USERNAME/YOUR MESSAGE into the url</p>
    
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        <button>Lets Chat!</button>
    </form>
    
</body>
</html>